@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.body-login {
  background-color: #0c1740;
  display: flex;
  height: 100vh;
}

.figure {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.logo {
  padding-left: 50px;
  padding-top: 50px;
}

.content-figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-figure {
  width: 600px;
  height: 450px;
}

.container1 {
  width: 350px;
}

.container1 .header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header h2 {
  font-weight: 600;
  font-size: 24px;
  color: #0c1740;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.email {
  display: flex;
  flex-direction: column;
}

.kata-sandi {
  display: flex;
  flex-direction: column;
}

input {
  background-color: rgba(202, 214, 255, 0.4);
  border: none;
  height: 47px;
  border-radius: 8px;
  padding-left: 15px;
  font-size: 13px;
  margin-top: 8px;
  font-weight: 400;
}

input::placeholder {
  font-size: 13px;
}

label {
  font-size: 15px;
  color: #0c1740;
  font-weight: 500;
}

.lupa-kata-sandi {
  display: flex;
  justify-content: end;
  width: 350px;
  font-weight: 500;
  margin-top: 15px;
}

.lupa-kata-sandi a {
  font-weight: 500;
  text-decoration: none;
  color: #0c1740;
  font-size: 15px;
}

.button-login {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-login button {
  border: none;
  width: 100%;
  height: 47px;
  border-radius: 8px;
  background-color: #0c1740;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.button-login span {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.button-login button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button-login a {
  text-decoration: none;
  color: #0c1740;
}

.button-login a:hover {
  color: #cad6ff;
}
.button-login p {
  color: #385161;
  opacity: 0.8;
}

.body-register {
  display: flex;
}

.figure-daftar {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.figure-daftar .logo {
  padding-top: 30px;
  padding-left: 30px;
}

.form-daftar-kiri {
  width: 30%;
  margin-top: 60px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.form .nama {
  display: flex;
  flex-direction: column;
}

.form .nips-nidn {
  display: flex;
  flex-direction: column;
}

.form .email {
  display: flex;
  flex-direction: column;
}

.form .kata-sandi {
  display: flex;
  flex-direction: column;
}

.form .konfirmasi-kata-sandi {
  display: flex;
  flex-direction: column;
}

.body-register input {
  background-color: rgba(202, 214, 255, 0.4);
  border: none;
  height: 47px;
  border-radius: 8px;
  padding-left: 15px;
  font-size: 13px;
  margin-top: 8px;
  font-weight: 400;
  width: 340px;
}

.form-daftar-kanan {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  gap: 20px;
}

.foto {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#foto {
  background-color: transparent;
}

.jenis-kelamin {
  display: flex;
}

.laki-laki {
  display: flex;
  width: 50%;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.perempuan {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
}

.unit {
  display: flex;
  flex-direction: column;
}

.no_hp {
  display: flex;
  flex-direction: column;
}

.alamat {
  display: flex;
  flex-direction: column;
}

.button-daftar {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  width: 100%;
  margin-top: 20px;
}

.button-daftar button {
  border: none;
  background-color: #0c1740;
  color: white;
  width: 230px;
  height: 47px;
  border-radius: 8px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.button-daftar button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.body-beranda {
  background-color: #0c1740;
  display: flex;

  height: 100vh;
}

.body-beranda .side-bar {
  width: 20%;
}

.profil .logo {
  padding: 10px;
}

.profil .logo img {
  width: 200px;
  height: 58px;
}

.side-bar hr {
  width: 70%;
  border: 1px solid #385161;
}

.data-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.data-profil img {
  width: 50px;
  height: 50px;
}

.detail-data-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-data-profil #nama {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.detail-data-profil #role {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.menu {
  margin-top: 20px;
  margin-inline: 30px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

ul {
  height: 100%;
  width: 100%;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul .beranda button:hover,
.tambah-jenis-barang button:hover,
.tambah-merek-barang button:hover,
.kelola-akun button:hover,
.fa-solid:hover {
  opacity: 0.9;
  cursor: pointer;
  background-color: #cad6ff;
  color: #0c1740;
}

ul .beranda button,
.tambah-jenis-barang button,
.tambah-merek-barang button,
.kelola-akun button,
.keluar button {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-left: 20px;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 47px;
  gap: 20px;
}

.menu ul li {
  list-style: none;
}

i {
  background-color: transparent;
}

.content {
  padding: 15px;
  height: 100%;
  width: 80%;
}

.content-beranda {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 25px;
}

#title {
  font-weight: 600;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: #0c1740;
  padding: 50px;
  width: fit-content;
}

.content-beranda .btn-fitur {
  padding: 20px;
}
.content-beranda .btn-fitur button {
  color: white;
  background-color: #0c1740;
  border: none;
  border-radius: 8px;
  height: 45px;
  width: 180px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.content-beranda .btn-fitur button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#kirim {
  height: 45px;
  width: 150px;
  border-radius: 8px;
  border: none;
  background-color: #0c1740;
  color: white;
}

#kirim:hover {
  opacity: 0.9;
  cursor: pointer;
}

.modal-body input,
.modal-body select {
  height: 35px;
  border-radius: 8px;
  background-color: rgba(202, 214, 255, 0.4);
  opacity: 0.5;
  border: none;
  padding-left: 15px;
}

.modal-body label {
  font-weight: 500;
  font-size: 14px;
}
