<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #0C1740;display: flex; padding:3px 6px; justify-content: space-between;">
    
    <div class="side-bar" style="background-color:  width: 20%; height: 95vh;">
        <div class="logo" style="color: white; width: 100%; height: 5%; background-color: brown;" >
            <img src="public/img/qr-code/logo.png" alt="Sistem Inventori Barang ICLabs" />
        </div>
        <div class="profile" style="background-color: rgb(35, 69, 69); width: 100%; height: 40%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div class="foto" style="width: 43%; height: 35%; background-color: black; border-radius: 100%; "></div>
            <div class="nama" style="color: white;  font-size: 16px;"><b>Dewi Comel</b></div>
            <div class="status" style="color: white; font-size: 12px;">Super Admin</div>
        </div>
        <div class="menu" style="background-color: aqua; width: 100%; height: 55%;>

        </div>
    </div>
    <div class="peminjaman" style="background-color: burlywood; width: 80%; height: 95vh; border-radius: 1%;">

    </div>
</body>
</html>